<h1>Gigih Family Cathering</h1>

<% if current_user %>
  <h2>Selamat Datang di Gigih Family Cathering <%= current_user.email %></h2>

    <% if current_user.admin? %>
        <%= link_to 'Kategori', categories_path %> <br><br>
    <% end %>

    <% if current_user.user? %>
        <p> user </p>
    <% end %>


    <br><br><br>
    <%= link_to 'Log out', destroy_user_session_path,  method: :delete %>
<% else %>
    <%= link_to 'Login', new_user_session_path %>
    <br>
    <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

