<h1>Gigih Family Cathering</h1>

<% if current_user %>
  <h2>Selamat Datang di Gigih Family Cathering <%= current_user.username %></h2>

    <% if current_user.admin? %>
        <%= link_to 'Menu', menus_path %> = 
        <%= link_to 'Kategori', categories_path %> <br><br>
    <% end %>

    <% if current_user.user? %>
        <h1>Daftar Menu</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Kategori</th>
                    <th colspan='4' ></th>
                </tr>
            </thead>
            <tbody>
                <% @menus.each do |menu| %>
                    <tr>
                        <td><%= menu.name %></td>
                        <td>Rp. <%= menu.price %></td>
                        <% @categories.each do |category| %>
                            <% if category.id == menu.category_id %>
                                <td><%= category.name %></td>
                            <% end %>
                        <% end %>
                        <td><%= link_to "Show", page_url(menu) %></td>

                        <td>
                            <%= form_for @order_item do |f| %>
                                <%= f.hidden_field :menu_id, value: menu.id %>
                                <%= f.hidden_field :email, value: current_user.email %>
                                <%= f.number_field :quantity, min: 1, value: 1 %>
                                <%= f.submit "Add to cart", class: "btn btn-primary" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <br>

        <%= link_to"#{current_order.order_items.count} item(s) in cart total Rp.#{current_order.subtotal}", cards_show_url %>

    <% end %>


    <br><br><br>
    <%= link_to 'Log out', destroy_user_session_path,  method: :delete %>
<% else %>
    <%= link_to 'Login', new_user_session_path %>
    <br>
    <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

