<h1>Keranjang</h1>

<% if @order_items.empty? %>
    <p>Keranjangmu Kosong</p>
<% else %>
    <% @order_items.each do |order_item| %>
    <h1> <%= order_item.menu.name %> </h1>
        <h3>Rp.<%= order_item.menu.price %> </h3>

        <%= form_for order_item  do |f| %>
            <%= f.hidden_field :menu_id, value: order_item.menu.id %>
            <%= f.number_field :quantity, min: 1, value: order_item.quantity.to_i %>
            <%= f.submit "Update Card", class: "btn btn-primary" %>

            <%= link_to "Delete", destroy_order_item_path(order_item), method: :delete , data: { confirm: 'Are you sure?' } %>
        <% end %>

        <h4> Subtotal: Rp.<%= order_item.total %> </h4>


    <% end %>

    <br><br><br>
    <h2> Total: Rp.<%= current_order.subtotal %> </h2>
    <br>

    <%= link_to 'Checkout', checkout_path, class: "btn btn-primary" %>

<% end %>




<br>
<%= link_to "Back", root_path %>
